extends layout

block content
  .home-intro
    h2 ♿ Bienvenue sur HandiMap
    p HandiMap est une plateforme pensée pour faciliter le quotidien des personnes en situation de handicap.
    p
      | Notre mission : permettre à tous de 
      strong trouver facilement des établissements accessibles
      | , et d'encourager les entreprises à 
      strong partager les informations d’accessibilité
      |  de leurs lieux (accès PMR, ascenseurs, sanitaires adaptés, etc.).
    p Sur HandiMap :
    ul
      li Les utilisateurs peuvent 
        strong chercher un lieu 
        | et voir s’il est adapté à leurs besoins.
      li Les professionnels peuvent 
        strong renseigner les caractéristiques d’accessibilité 
        | de leurs établissements.
    p 👉 Ensemble, rendons chaque lieu visible, accessible et inclusif.

  .search-container
    form(action='/' method='get' id='search-form')
      input(type='text' name='query' placeholder='Rechercher un établissement...' id='search-input')
      button(type='submit') Rechercher

  //- Afficher les établissements
  if items.length
    ul.results
      each item in items
        li.result-item(style='display: flex; justify-content: space-between; align-items: center; position: relative; flex-direction: column;')
          .info
            h3= item.nom
            p= item.type_lieu + ' – ' + item.proprietaire_prenom + ' ' + item.proprietaire_nom
            
            if item.note
              - const note = item.note.note_global
              - const details = []
              - details.push(['Mental', item.note.note_mental])
              - details.push(['Visuel', item.note.note_visuel])
              - details.push(['Auditif', item.note.note_auditif])
              - details.push(['Moteur', item.note.note_moteur])
              .circle-rating(data-grade=note, style='position: relative;')
                span.circle
                span.circle
                span.circle
                span.circle
                span.circle
                .tooltip
                  each cat in details
                    .tooltip-row
                      span.label= cat[0]
                      .circle-rating(data-grade=cat[1])
                        span.circle
                        span.circle
                        span.circle
                        span.circle
                        span.circle
            else
              a.btn-answer(href='/questionnaire/' + item.id) Répondre
            
            // Bouton pour laisser un avis
            button.info-btn(type='button', data-id=item.id) Laisser un avis

            // Conteneur pour le formulaire d'avis (renommé pour correspondre au JS)
            .feedback-container(style='display:none;')
              .feedback-form
                form(action='/notes/add' method='POST' style='margin-top: 10px; display: flex; flex-direction: column; gap: 5px;')
                  input(type='hidden' name='etablissement_id' value=item.id)

                  label(for='note_global') Note globale :
                  input(type='number' name='note_global' min='0' max='5' step='0.1' required)

                  label(for='note_mental') Mental :
                  input(type='number' name='note_mental' min='0' max='5' step='0.1')

                  label(for='note_visuel') Visuel :
                  input(type='number' name='note_visuel' min='0' max='5' step='0.1')

                  label(for='note_auditif') Auditif :
                  input(type='number' name='note_auditif' min='0' max='5' step='0.1')

                  label(for='note_moteur') Moteur :
                  input(type='number' name='note_moteur' min='0' max='5' step='0.1')

                  label(for='commentaire') Commentaire :
                  textarea(name='commentaire' rows='2' cols='40')

                  button(type='submit') Poster mon avis
  else
    p Aucun établissement trouvé.

    